/* Editor-CSS.css */

.editor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 32px;
}

textarea {
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 14px;
    border: none;
    resize: none;
    margin-bottom: 8px;
    outline: none;
    color: white;
    background-color: #211f1f;
}

button {
    padding: 10px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Increase font size for better readability */
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition on hover */
}

button:hover {
    background-color: #0056b3;
}

.highlighted-keyword {
    color: #bc70fd;
}
.ace_gutter {
    padding-top: 10px;
}
.ace_content {
    padding-top: 10px;
    padding-left: 8px;
}
.ace_editor {
    border-radius: 4px;
    color: white;
    /* Enable resizing here */
    /* resize: both;
    overflow: auto;
    height: 300px;
    width: 600px; */
}
.ace-github-dark {
    background-color: #212020;
}
.esfiddle-css-tab-filename-input {
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 8px;
    margin-top: 8px;
    color: white;
    /* margin-bottom: 4px;
    margin-top: 4px; */
}
.esfiddle-css-tab-filename-input__button {
    background: green;
}
.esfiddle-css-tab-filename-input__edit {
    display: flex;
    vertical-align: center;
}
.esfiddle-css-editor-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 94%;
    /* height: 700px; */
    margin-right: 16px;
}
